.mark {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    margin: 5px 0;
    background-color: #ad0c0c;
    max-width: 100%;
    
}
.BookMark {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ad0c0c;
    border-radius: 5px;
    background-color: #2e2828;
    width: 600px;
}
@media screen and (max-width: 650px) {
    .BookMark {
        width: 280px;
    }
}
.triangle {
  width: 0;
  height: 00;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  border-top: 55px solid #ad0c0c; /* Change color as needed */
  transform: rotate(90deg);
}
.triangle-end {
  width: 0;
  height: 0;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  border-bottom: 55px solid #ad0c0c; /* Change color as needed */
  transform: rotate(270deg);
}

.Bookmark-Container {
    border-radius: 20px;
    border-style: solid red;
    border-width: 4px;
    padding: 10px;
    background-color: #1e1e1e;
    max-width: 100%;
}

.TTS-Dialog {
    font-family: 'Courier New', Courier, monospace;
    color: turquoise;
    max-width: 550px;
    max-height: 250px;
}
@media screen and (max-width: 500px) {
    .TTS-Dialog {
        width: 90%;
        max-height: 100%;
        height: 320px;
    }
}