.ttsnav {
    margin-bottom: 5px;
}
.width-840 {
    margin-left: 840px;
}
.width-900 {
    margin-left: 900px;
}
.width {
    margin-left: 910px;
}
@media screen and (max-width: 800px) {
    .widht-740 {
        max-width: 100%;
        margin-left: 200px;
    }
}
