@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

$bg-pink: linear-gradient(
  to right,
  rgba(218, 28, 96, 1) 0%,
  rgba(243, 102, 31, 0.9) 100%
);

@keyframes shit {
  from {
    background-image: rgba(218, 28, 96, 1);
  }
  to {
    background-image: rgba(243, 102, 31, 0.9)
  }
}

$bg-dark:rgb(15,24,42);
$white:#fff;

.high2 {
  font-size: 40px;
  line-height: 46px;
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.loadingScreen {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-1 {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  animation: page-up 1s ease 0s none;
  animation: page-down 1s ease 7s none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: $bg-pink;
  
}

@keyframes page-up {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}

@keyframes page-down {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;}
}

.loading-data {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-text {
  .char {
    opacity: 0;
    animation: loading-text 2s infinite ease-in-out;
    display: inline-block;
    color:$white;
    &:nth-child(1) {
      animation-delay: 0.9s;
    }
    &:nth-child(2) {
      animation-delay: 1s;
    }
    &:nth-child(3) {
      animation-delay: 1.1s;
    }
    &:nth-child(4) {
      animation-delay: 1.2s;
    }
    &:nth-child(5) {
      animation-delay: 1.3s;
    }
    &:nth-child(6) {
      animation-delay: 1.4s;
    }
    &:nth-child(7) {
      animation-delay: 1.5s;
    }
  }
}

@keyframes loading-text {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  20% {
    transform: translateY(-60%);
    opacity: 1;
  }
  40% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*, *:before, *:after { box-sizing: border-box; }

.logo-container {
  position: relative;
  
  &:before {
    content:  "";
    position: absolute;
    top:      calc( 100% - 2px );
    width:    100%;
    height:   4px;
    background-color: #cf0000;
    transform-origin: center center;
    transform: scaleX( 0 );
    
    animation: line-animation 3s ease infinite alternate;
  }
  
  h1#page-logo {
    font: bold 6rem 'Arial', sans-serif;
    
    animation: clip-path-reveal-1 3s ease infinite alternate;
    color: #ff2a2a;
    
    
  }
}

@keyframes line-animation {
  0% { transform: scaleX( 0 ); }
  15% { transform: scaleX( 0 ); }
  20%, 25% { transform: scaleX( 1 ); top: calc( 100% - 2px ); }
  50% { transform: scaleX( 1 ); top: 0px; }
  70% { transform: scaleX( 0.2 ); top: 0px; }
  80%, 100% { transform: scaleX( 0.2 ); top: 0px; }
}

@keyframes clip-path-reveal-1 {
  0%, 25% { clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); }
  50% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}